@import './color_modes.css';

@layer base{
    :root{
        
    }
}

@layer utilities {
    .shadow-xs{
        background-color:var(--bg-primary);
        align-items:flex;
        width:256px;
        border:1px;
        border-radius:var(--radius-xl);
        box-sizing:border-box;
        padding:var(--space-6,24px);    
    }
}