@layer base{
    :root{
    --font-family-display: 'Inter';
    --font-family-body: 'Inter';
    
    
    /* FONT WEIGHT (FONT STYLE) */
    
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    
    
    /*  FONT SIZE */
    
    /* Display Sizes */
    --display-2xl: 72px;
    --display-xl: 60px;
    --display-lg: 48px;
    --display-md: 36px;
    --display-sm: 30px;
    --display-xs: 24px;
    
    /* Text Sizes */
    --text-xl: 20px;
    --text-lg: 18px;
    --text-md: 16px;
    --text-sm: 14px;
    --text-xs:12px;

    /*Line heights*/
    --lh-display-2xl:90;
    --display-xl:72;
    --display-lg:60;
    --display-md:44;
    --display-sm:38;
    --display-xs:32;
    --text-xl:30;
    --text-lg:28;
    --text-md:24;
    --text-sm:20;
    --text-xs:18;
    
    }   


}


@layer utilities{
    .display-2xl-regular{
        color: var(--color-text-primary, #181D27);
        /* Display 2xl/Regular */
        font-family: var(--font-family, Inter);
        font-size: var(--font-size-display-2xl, 72px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-height-display-2xl, 90px); /* 125% */
        letter-spacing: -1.44px;
    }
}