@import "./semantic/bg_modes.css";
@import "./semantic/shadow_modes.css";
@import "./semantic/color_modes.css";
@import "./semantic/border_modes.css";
@import "./semantic/foreground_modes.css";
@import "./semantic/focus_modes.css";
@import "./semantic/spacing_modes.css";


@layer utilities {
  .bg-light-gray-50 {
    /* Subtle background fills, separators */
    background-color: var(--color-light-gray-50);
  }

  .bg-light-gray-100 {
    /* Light surface borders */
    background-color: var(--color-light-gray-100);
  }

  .bg-light-gray-200 {
    /* Light surface borders */
    background-color: var(--color-light-gray-200);
  }

  .bg-light-gray-300 {
    /* Light surface borders */
    background-color: var(--color-light-gray-300);
  }

  .bg-light-gray-400 {
    /* Light surface borders */
    background-color: var(--color-light-gray-400);
  }

  .bg-light-gray-500 {
    /* Light surface borders */
    background-color: var(--color-light-gray-500);
  }

  .bg-light-gray-600 {
    /* Light surface borders */
    background-color: var(--color-light-gray-600);
  }

  .bg-light-gray-700 {
    /* Light surface borders */
    background-color: var(--color-light-gray-700);
  }

  .bg-light-gray-800 {
    /* Light surface borders */
    background-color: var(--color-light-gray-800);
  }
  

  .bg-light-gray-900 {
    /* Light surface borders */
    background-color: var(--color-light-gray-900);
  }

  .bg-light-gray-950 {
    /* Light surface borders */
    background-color: var(--color-light-gray-950);
  }

  .bg-brand-50 {
    background-color: var(--color-brand-blue-25);
  }

  .bg-brand-50-alt {
    background-color: var(--color-brand-blue-50);
  }

  .bg-brand-100 {
    background-color: var(--color-brand-blue-100);
  }

  .bg-brand-100-alt {
    background-color: var(--color-brand-blue-100);
  }

  .bg-brand-200 {
    background-color: var(--color-brand-blue-200);
  }

  .bg-brand-200-alt {
    background-color: var(--color-brand-blue-200);
  }

  .bg-brand-300 {
    background-color: var(--color-brand-blue-300);
  }

  .bg-brand-300-alt {
    background-color: var(--color-brand-blue-300);
  }

  .bg-brand-400 {
    background-color: var(--color-brand-blue-400);
  }

  .bg-brand-400-alt {
    background-color: var(--color-brand-blue-400);
  }

  .bg-brand-500 {
    background-color: var(--color-brand-blue-500);
  }

  .bg-brand-500-alt {
    background-color: var(--color-brand-blue-500);
  }

  .bg-brand-600 {
    background-color: var(--color-brand-blue-600);
  }

  .bg-brand-600-alt {
    background-color: var(--color-brand-blue-600);
  }

  .bg-brand-700 {
    background-color: var(--color-brand-blue-700);
  }

  .bg-brand-700-alt {
    background-color: var(--color-brand-blue-700);
  }

  .bg-brand-800 {
    background-color: var(--color-brand-blue-800);
  }

  .bg-brand-800-alt {
    background-color: var(--color-brand-blue-800);
  }

  .bg-brand-900 {
    background-color: var(--color-brand-blue-900);
  }

  .bg-brand-900-alt {
    background-color: var(--color-brand-blue-900);
  }

  /* ========= ERROR ========= */
  .bg-error-50 {
    background-color: var(--color-error-50);
  }

  .bg-error-100 {
    background-color: var(--color-error-100);
  }

  .bg-error-200 {
    background-color: var(--color-error-200);
  }

  .bg-error-300 {
    background-color: var(--color-error-300);
  }

  .bg-error-400 {
    background-color: var(--color-error-400);
  }

  .bg-error-500 {
    background-color: var(--color-error-500);
  }

  .bg-error-600 {
    background-color: var(--color-error-600);
  }

  .bg-error-700 {
    background-color: var(--color-error-700);
  }

  /* ========= SUCCESS ========= */
  .bg-success-50 {
    background-color: var(--color-success-50);
  }

  .bg-success-100 {
    background-color: var(--color-success-100);
  }

  .bg-success-200 {
    background-color: var(--color-success-200);
  }

  .bg-success-300 {
    background-color: var(--color-success-300);
  }

  .bg-success-400 {
    background-color: var(--color-success-400);
  }

  .bg-success-500 {
    background-color: var(--color-success-500);
  }

  .bg-success-600 {
    background-color: var(--color-success-600);
  }

  .bg-success-700 {
    background-color: var(--color-success-700);
  }

  /* ========= GRAY BLUE ========= */
  .bg-gray-blue-50 {
    background-color: var(--color-gray-blue-50);
  }

  .bg-gray-blue-100 {
    background-color: var(--color-gray-blue-100);
  }

  .bg-gray-blue-200 {
    background-color: var(--color-gray-blue-200);
  }

  .bg-gray-blue-300 {
    background-color: var(--color-gray-blue-300);
  }

  .bg-gray-blue-400 {
    background-color: var(--color-gray-blue-400);
  }

  .bg-gray-blue-500 {
    background-color: var(--color-gray-blue-500);
  }

  .bg-gray-blue-600 {
    background-color: var(--color-gray-blue-600);
  }

  .bg-gray-blue-700 {
    background-color: var(--color-gray-blue-700);
  }

  /* ========= BLUE LIGHT ========= */
  .bg-light-blue-50 {
    background-color: var(--color-light-blue-50);
  }

  .bg-light-blue-100 {
    background-color: var(--color-light-blue-100);
  }

  .bg-light-blue-200 {
    background-color: var(--color-light-blue-200);
  }

  .bg-light-blue-300 {
    background-color: var(--color-light-blue-300);
  }

  .bg-light-blue-400 {
    background-color: var(--color-light-blue-400);
  }

  .bg-light-blue-500 {
    background-color: var(--color-light-blue-500);
  }

  .bg-light-blue-600 {
    background-color: var(--color-light-blue-600);
  }

  .bg-light-blue-700 {
    background-color: var(--color-light-blue-700);
  }

  /* ========= INDIGO ========= */
  .bg-indigo-50 {
    background-color: var(--color-indigo-50);
  }

  .bg-indigo-100 {
    background-color: var(--color-indigo-100);
  }

  .bg-indigo-200 {
    background-color: var(--color-indigo-200);
  }

  .bg-indigo-300 {
    background-color: var(--color-indigo-300);
  }

  .bg-indigo-400 {
    background-color: var(--color-indigo-400);
  }

  .bg-indigo-500 {
    background-color: var(--color-indigo-500);
  }

  .bg-indigo-600 {
    background-color: var(--color-indigo-600);
  }

  .bg-indigo-700 {
    background-color: var(--color-indigo-700);
  }

  .bg-teal-50 {
    background-color: var(--color-teal-50);
  }

  .bg-teal-100 {
    background-color: var(--color-teal-100);
  }

  .bg-teal-200 {
    background-color: var(--color-teal-200);
  }

  .bg-teal-300 {
    background-color: var(--color-teal-300);
  }

  .bg-teal-400 {
    background-color: var(--color-teal-400);
  }

  .bg-teal-500 {
    background-color: var(--color-teal-500);
  }

  .bg-teal-600 {
    background-color: var(--color-teal-600);
  }

  .bg-teal-700 {
    background-color: var(--color-teal-700);
  }

  .bg-rose-50 {
    background-color: var(--color-rose-50);
  }

  .bg-rose-100 {
    background-color: var(--color-rose-100);
  }

  .bg-rose-200 {
    background-color: var(--color-rose-200);
  }

  .bg-rose-300 {
    background-color: var(--color-rose-300);
  }

  .bg-rose-400 {
    background-color: var(--color-rose-400);
  }

  .bg-rose-500 {
    background-color: var(--color-rose-500);
  }

  .bg-rose-600 {
    background-color: var(--color-rose-600);
  }

  .bg-rose-700 {
    background-color: var(--color-rose-700);
  }

  .bg-pink-50 {
    background-color: var(--color-pink-50);
  }

  .bg-pink-100 {
    background-color: var(--color-pink-100);
  }

  .bg-pink-200 {
    background-color: var(--color-pink-200);
  }

  .bg-pink-300 {
    background-color: var(--color-pink-300);
  }

  .bg-pink-400 {
    background-color: var(--color-pink-400);
  }

  .bg-pink-500 {
    background-color: var(--color-pink-500);
  }

  .bg-pink-600 {
    background-color: var(--color-pink-600);
  }

  .bg-pink-700 {
    background-color: var(--color-pink-700);
  }

  .bg-orange-50 {
    background-color: var(--color-orange-50);
  }

  .bg-orange-100 {
    background-color: var(--color-orange-100);
  }

  .bg-orange-200 {
    background-color: var(--color-orange-200);
  }

  .bg-orange-300 {
    background-color: var(--color-orange-300);
  }

  .bg-orange-400 {
    background-color: var(--color-orange-400);
  }

  .bg-orange-500 {
    background-color: var(--color-orange-500);
  }

  .bg-orange-600 {
    background-color: var(--color-orange-600);
  }

  .bg-orange-700 {
    background-color: var(--color-orange-700);
  }
}