@import "tailwindcss";

@layer base{
    :root{
        /*Primary Color*/    

        /* BASE COLOR */
        --color-transparent: rgb(0 0 0 / 0);

        --color-white: #FFFFFF;
        --color-black: 000000;

        /* BASE COLOR */
        
        /*Light Palette*/
        --color-light-gray-25:#FDFDFD;
        --color-light-gray-50:#FAFAFA;
        --color-light-gray-100:#F5F5F5;
        --color-light-gray-200:#E9EAEB;
        --color-light-gray-300:#D5D7DA;
        --color-light-gray-400:#A4A7AE;
        --color-light-gray-500:#717680;
        --color-light-gray-600:#535862;
        --color-light-gray-700:#414651;
        --color-light-gray-800:#252B37;
        --color-light-gray-900:#181D27;
        --color-light-gray-950:#0A0D12;

        /*Dark Palette*/
        --color-dark-gray-25:#FAFAFA;
        --color-dark-gray-50:#F7F7F7;
        --color-dark-gray-100:#F0F0F1;
        --color-dark-gray-200:#ECECED;
        --color-dark-gray-300:#CECFD2;
        --color-dark-gray-400:#94979C;
        --color-dark-gray-500:#85888E;
        --color-dark-gray-600:#61656C;
        --color-dark-gray-700:#373A41;
        --color-dark-gray-800:#22262F;
        --color-dark-gray-900:#13161B;
        --color-dark-gray-950:#0C0E12;

        /*Brand Color*/
        --color-brand-blue-25:#F5FAFF;
        --color-brand-blue-50:#EFF8FF;
        --color-brand-blue-100:#D1E9FF;
        --color-brand-blue-200:#B2DDFF;
        --color-brand-blue-300:#84CAFF;
        --color-brand-blue-400:#53B1FD;
        --color-brand-blue-500:#2E90FA;
        --color-brand-blue-600:#1570EF;
        --color-brand-blue-700:#175CD3;
        --color-brand-blue-800:#1849A9;
        --color-brand-blue-900:#194185;
        --color-brand-blue-950:#102A56;
            
        /*Error Color*/
        --color-error-25:#FFFBFA;
        --color-error-50:#FEF3F2;
        --color-error-100:#FEE4E2;
        --color-error-200:#FECDCA;
        --color-error-300:#FDA29B;
        --color-error-400:#F97066;
        --color-error-500:#F04438;
        --color-error-600:#D92D20;
        --color-error-700:#B42318;
        --color-error-800:#912018;
        --color-error-900:#7A271A;
        --color-error-950:#55160C;

        /*Warning Color*/
        --color-warning-25:#FFFCF5;
        --color-warning-50:#FFFAEB;
        --color-warning-100:#FEF0C7;
        --color-warning-200:#FEDF89;
        --color-warning-300:#FEC84B;
        --color-warning-400:#FDB022;
        --color-warning-500:#F79009;
        --color-warning-600:#DC6803;
        --color-warning-700:#B54708;
        --color-warning-800:#93370D;
        --color-warning-900:#792E0D;
        --color-warning-950:#4E1D09;

        /*Success Color*/
        --color-success-25:#F6FEF9;
        --color-success-50:#ECFDF3;
        --color-success-100:#DCFAE6;
        --color-success-200:#A6F4C5;
        --color-success-300:#6CE9A6;
        --color-success-400:#32D583;
        --color-success-500:#12B76A;
        --color-success-600:#039855;
        --color-success-700:#027A48;
        --color-success-800:#05603A;
        --color-success-900:#054F31;
        --color-success-950:#053321;
        
        /*Secondary Color*/

        /*Gray Blue Color*/
        --color-gray-blue-25:#FCFCFD;
        --color-gray-blue-50:#F8F9FC;
        --color-gray-blue-100:#EAECF5;
        --color-gray-blue-200:#D5D9EB;
        --color-gray-blue-300:#AFB5D9;
        --color-gray-blue-400:#717BBC;
        --color-gray-blue-500:#4E5BA6;
        --color-gray-blue-600:#3E4784;
        --color-gray-blue-700:#363F72;
        --color-gray-blue-800:#293056;
        --color-gray-blue-900:#101323;
        --color-gray-blue-950:#0D0F1C;

        /*Light Blue Color*/
        --color-light-blue-25:#F5FBFF;
        --color-light-blue-50:#E0F2FE;
        --color-light-blue-100:#E0F2FE;
        --color-light-blue-200:#B9E6FE;
        --color-light-blue-300:#7CD4FD;
        --color-light-blue-400:#36BFFA;
        --color-light-blue-500:#0BA5EC;
        --color-light-blue-600:#0086C9;
        --color-light-blue-700:#026AA2;
        --color-light-blue-800:#065986;
        --color-light-blue-900:#0B4A6F;
        --color-light-blue-950:#062C41;

        /*Indigo Color*/
        --color-indigo-25:  #F5F8FF;
        --color-indigo-50:  #EEF4FF;
        --color-indigo-100: #E0EAFF;
        --color-indigo-200: #C7D7FE;
        --color-indigo-300: #A4BCFD;
        --color-indigo-400: #8098F9;
        --color-indigo-500: #6172F3;
        --color-indigo-600: #444CE7;
        --color-indigo-700: #3538CD;
        --color-indigo-800: #2D31A6;
        --color-indigo-900: #2D3282;
        --color-indigo-950: #1F235B;

        /*Teal Color*/
        --color-teal-25:  #F6FEFC;
        --color-teal-50:  #F0FDF9;
        --color-teal-100: #CCFBEF;
        --color-teal-200: #99F6E0;
        --color-teal-300: #5FE9D0;
        --color-teal-400: #2ED3B7;
        --color-teal-500: #15B79E;
        --color-teal-600: #0E9384;
        --color-teal-700: #107569;
        --color-teal-800: #125D56;
        --color-teal-900: #134E48;
        --color-teal-950: #0A2926;

        
        /*Rose Color*/
        --color-rose-25:  #FFF5F6;
        --color-rose-50:  #FFF1F3;
        --color-rose-100: #FFE4E8;
        --color-rose-200: #FECDD6;
        --color-rose-300: #FEA3B4;
        --color-rose-400: #FD6F8E;
        --color-rose-500: #F63D68;
        --color-rose-600: #E31B54;
        --color-rose-700: #C01048;
        --color-rose-800: #A11043;
        --color-rose-900: #89123E;
        --color-rose-950: #510B24;

        /*Pink Color*/
        --color-pink-25:  #FEF6FB;
        --color-pink-50:  #FDF2FA;
        --color-pink-100: #FCE7F6;
        --color-pink-200: #FCCEEE;
        --color-pink-300: #FAA7E0;
        --color-pink-400: #F670C7;
        --color-pink-500: #EE46BC;
        --color-pink-600: #DD2590;
        --color-pink-700: #C11574;
        --color-pink-800: #9E165F;
        --color-pink-900: #851651;
        --color-pink-950: #4E0D30;

        /*Orange Color*/
        --color-orange-25:  #FEFAF5;
        --color-orange-50:  #FEF6EE;
        --color-orange-100: #FDEAD7;
        --color-orange-200: #F9DBAF;
        --color-orange-300: #F7B27A;
        --color-orange-400: #F38744;
        --color-orange-500: #EF6820;
        --color-orange-600: #E04F16;
        --color-orange-700: #B93815;
        --color-orange-800: #932F19;
        --color-orange-900: #772917;
        --color-orange-950: #511C10;

    } 
    
}

   


