@import "tailwindcss";

/* 2️⃣ Semantic tokens AFTER */
@import './styles/semantic/bg_modes.css';
@import './styles/semantic/color_modes.css';
@import './styles/semantic/spacing_modes.css';
@import './styles/semantic/text.css';


@theme {
  /* --- Spacing --- */
  --spacing-none: var(--spacing-none);
  --spacing-xxs:  var(--spacing-xxs);
  --spacing-xs:   var(--spacing-xs);
  --spacing-sm:   var(--spacing-sm);
  --spacing-md:   var(--spacing-md);
  --spacing-lg:   var(--spacing-lg);
  --spacing-xl:   var(--spacing-xl);
  --spacing-2xl:  var(--spacing-2xl);
  --spacing-3xl:  var(--spacing-3xl);
  --spacing-4xl:  var(--spacing-4xl);
  --spacing-5xl:  var(--spacing-5xl);
  --spacing-6xl:  var(--spacing-6xl);
  --spacing-7xl:  var(--spacing-7xl);
  --spacing-8xl:  var(--spacing-8xl);
  --spacing-9xl:  var(--spacing-9xl);
  --spacing-10xl: var(--spacing-10xl);
  --spacing-11xl: var(--spacing-11xl);

  /* --- Border Radius --- */
  --radius-xxs: var(--radius-xxs);
  --radius-sm:  var(--radius-sm);
  --radius-md:  var(--radius-md);
  --radius-lg:  var(--radius-lg);
  --radius-xl:  var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-4xl: var(--radius-4xl);
  --radius-full: var(--radius-full);

  /* --- Fixed Widths --- */
  
  --width-xs:  var(--widths-xs);
  --width-sm:  var(--widths-sm);
  --width-md:  var(--widths-md);
  --width-lg:  var(--widths-lg);
  --width-xl:  var(--widths-xl);
  --width-2xl: var(--widths-2xl);
  --width-3xl: var(--widths-3xl);
  --width-4xl: var(--widths-4xl);

  /* --- Container & Paragraph --- */
  --spacing-container-mobile:  var(--container-padding-mobile);
  --spacing-container-desktop: var(--container-padding-desktop);
  --width-container-max:       var(--container-max-width-desktop);
  --width-paragraph:           var(--paragraph-max-widths);


  /* Primary text */
  --color-text-secondary: var(--color-light-gray-800);
  --color-text-secondary-on-brand: var(--color-brand-blue-200);
}