@import "tailwindcss";

/* 1️⃣ Primitives FIRST */
@import './styles/primitives/colors.css';
@import './styles/primitives/spacing.css';

/* 2️⃣ Semantic tokens AFTER */
@import './styles/semantic/color_modes.css';

@import './styles/semantic/typography.css';

@import './styles/semantic/Effect_styles.css';